(
    version: 1,
    label: "Default Room",
    world: (
        w: 25,
        h: 15,
        tiles: [
            /*[0]*/ Wall,
            /*[1]*/ Wall,
            /*[2]*/ Wall,
            /*[3]*/ Wall,
            /*[4]*/ Wall,
            /*[5]*/ Wall,
            /*[6]*/ Wall,
            /*[7]*/ Wall,
            /*[8]*/ Wall,
            /*[9]*/ Wall,
            /*[10]*/ Wall,
            /*[11]*/ Wall,
            /*[12]*/ Wall,
            /*[13]*/ Wall,
            /*[14]*/ Wall,
            /*[15]*/ Wall,
            /*[16]*/ Wall,
            /*[17]*/ Wall,
            /*[18]*/ Wall,
            /*[19]*/ Wall,
            /*[20]*/ Wall,
            /*[21]*/ Wall,
            /*[22]*/ Wall,
            /*[23]*/ Wall,
            /*[24]*/ Wall,
            /*[25]*/ Wall,
            /*[26]*/ Floor,
            /*[27]*/ Floor,
            /*[28]*/ Floor,
            /*[29]*/ Floor,
            /*[30]*/ Floor,
            /*[31]*/ Floor,
            /*[32]*/ Floor,
            /*[33]*/ Floor,
            /*[34]*/ Floor,
            /*[35]*/ Floor,
            /*[36]*/ Floor,
            /*[37]*/ Floor,
            /*[38]*/ Floor,
            /*[39]*/ Floor,
            /*[40]*/ Floor,
            /*[41]*/ Floor,
            /*[42]*/ Floor,
            /*[43]*/ Floor,
            /*[44]*/ Floor,
            /*[45]*/ Floor,
            /*[46]*/ Floor,
            /*[47]*/ Floor,
            /*[48]*/ Floor,
            /*[49]*/ Wall,
            /*[50]*/ Wall,
            /*[51]*/ Floor,
            /*[52]*/ Floor,
            /*[53]*/ Floor,
            /*[54]*/ Floor,
            /*[55]*/ Floor,
            /*[56]*/ Floor,
            /*[57]*/ Floor,
            /*[58]*/ Floor,
            /*[59]*/ Floor,
            /*[60]*/ Floor,
            /*[61]*/ Floor,
            /*[62]*/ Floor,
            /*[63]*/ Floor,
            /*[64]*/ Floor,
            /*[65]*/ Floor,
            /*[66]*/ Floor,
            /*[67]*/ Floor,
            /*[68]*/ Floor,
            /*[69]*/ Floor,
            /*[70]*/ Floor,
            /*[71]*/ Floor,
            /*[72]*/ Floor,
            /*[73]*/ Floor,
            /*[74]*/ Wall,
            /*[75]*/ Wall,
            /*[76]*/ Floor,
            /*[77]*/ Floor,
            /*[78]*/ Floor,
            /*[79]*/ Floor,
            /*[80]*/ Floor,
            /*[81]*/ Floor,
            /*[82]*/ Floor,
            /*[83]*/ Floor,
            /*[84]*/ Floor,
            /*[85]*/ Floor,
            /*[86]*/ Floor,
            /*[87]*/ Floor,
            /*[88]*/ Floor,
            /*[89]*/ Floor,
            /*[90]*/ Floor,
            /*[91]*/ Floor,
            /*[92]*/ Floor,
            /*[93]*/ Floor,
            /*[94]*/ Floor,
            /*[95]*/ Floor,
            /*[96]*/ Floor,
            /*[97]*/ Floor,
            /*[98]*/ Floor,
            /*[99]*/ Wall,
            /*[100]*/ Wall,
            /*[101]*/ Floor,
            /*[102]*/ Floor,
            /*[103]*/ Floor,
            /*[104]*/ Floor,
            /*[105]*/ Floor,
            /*[106]*/ Floor,
            /*[107]*/ Floor,
            /*[108]*/ Floor,
            /*[109]*/ Floor,
            /*[110]*/ Floor,
            /*[111]*/ Floor,
            /*[112]*/ Wall,
            /*[113]*/ Floor,
            /*[114]*/ Floor,
            /*[115]*/ Floor,
            /*[116]*/ Floor,
            /*[117]*/ Floor,
            /*[118]*/ Floor,
            /*[119]*/ Floor,
            /*[120]*/ Floor,
            /*[121]*/ Floor,
            /*[122]*/ Floor,
            /*[123]*/ Floor,
            /*[124]*/ Wall,
            /*[125]*/ Wall,
            /*[126]*/ Floor,
            /*[127]*/ Floor,
            /*[128]*/ Floor,
            /*[129]*/ Floor,
            /*[130]*/ Floor,
            /*[131]*/ Floor,
            /*[132]*/ Floor,
            /*[133]*/ Floor,
            /*[134]*/ Floor,
            /*[135]*/ Floor,
            /*[136]*/ Floor,
            /*[137]*/ Wall,
            /*[138]*/ Floor,
            /*[139]*/ Floor,
            /*[140]*/ Floor,
            /*[141]*/ Floor,
            /*[142]*/ Floor,
            /*[143]*/ Floor,
            /*[144]*/ Floor,
            /*[145]*/ Floor,
            /*[146]*/ Floor,
            /*[147]*/ Floor,
            /*[148]*/ Floor,
            /*[149]*/ Wall,
            /*[150]*/ Wall,
            /*[151]*/ Floor,
            /*[152]*/ Floor,
            /*[153]*/ Floor,
            /*[154]*/ Floor,
            /*[155]*/ Floor,
            /*[156]*/ Floor,
            /*[157]*/ Floor,
            /*[158]*/ Floor,
            /*[159]*/ Floor,
            /*[160]*/ Floor,
            /*[161]*/ Floor,
            /*[162]*/ Wall,
            /*[163]*/ Floor,
            /*[164]*/ Floor,
            /*[165]*/ Floor,
            /*[166]*/ Floor,
            /*[167]*/ Floor,
            /*[168]*/ Floor,
            /*[169]*/ Floor,
            /*[170]*/ Floor,
            /*[171]*/ Floor,
            /*[172]*/ Floor,
            /*[173]*/ Floor,
            /*[174]*/ Wall,
            /*[175]*/ Wall,
            /*[176]*/ Floor,
            /*[177]*/ Floor,
            /*[178]*/ Floor,
            /*[179]*/ Floor,
            /*[180]*/ Floor,
            /*[181]*/ Floor,
            /*[182]*/ Floor,
            /*[183]*/ Floor,
            /*[184]*/ Floor,
            /*[185]*/ Floor,
            /*[186]*/ Floor,
            /*[187]*/ Wall,
            /*[188]*/ Floor,
            /*[189]*/ Floor,
            /*[190]*/ Floor,
            /*[191]*/ Floor,
            /*[192]*/ Floor,
            /*[193]*/ Floor,
            /*[194]*/ Floor,
            /*[195]*/ Floor,
            /*[196]*/ Floor,
            /*[197]*/ Floor,
            /*[198]*/ Floor,
            /*[199]*/ Wall,
            /*[200]*/ Wall,
            /*[201]*/ Floor,
            /*[202]*/ Floor,
            /*[203]*/ Floor,
            /*[204]*/ Floor,
            /*[205]*/ Wall,
            /*[206]*/ Wall,
            /*[207]*/ Wall,
            /*[208]*/ Wall,
            /*[209]*/ Wall,
            /*[210]*/ Floor,
            /*[211]*/ Floor,
            /*[212]*/ Wall,
            /*[213]*/ Floor,
            /*[214]*/ Floor,
            /*[215]*/ Floor,
            /*[216]*/ Floor,
            /*[217]*/ Floor,
            /*[218]*/ Floor,
            /*[219]*/ Floor,
            /*[220]*/ Floor,
            /*[221]*/ Floor,
            /*[222]*/ Floor,
            /*[223]*/ Floor,
            /*[224]*/ Wall,
            /*[225]*/ Wall,
            /*[226]*/ Floor,
            /*[227]*/ Floor,
            /*[228]*/ Floor,
            /*[229]*/ Floor,
            /*[230]*/ Floor,
            /*[231]*/ Floor,
            /*[232]*/ Floor,
            /*[233]*/ Floor,
            /*[234]*/ Floor,
            /*[235]*/ Floor,
            /*[236]*/ Floor,
            /*[237]*/ Wall,
            /*[238]*/ Floor,
            /*[239]*/ Floor,
            /*[240]*/ Floor,
            /*[241]*/ Floor,
            /*[242]*/ Floor,
            /*[243]*/ Floor,
            /*[244]*/ Floor,
            /*[245]*/ Floor,
            /*[246]*/ Floor,
            /*[247]*/ Floor,
            /*[248]*/ Floor,
            /*[249]*/ Wall,
            /*[250]*/ Wall,
            /*[251]*/ Floor,
            /*[252]*/ Floor,
            /*[253]*/ Floor,
            /*[254]*/ Floor,
            /*[255]*/ Floor,
            /*[256]*/ Floor,
            /*[257]*/ Floor,
            /*[258]*/ Floor,
            /*[259]*/ Floor,
            /*[260]*/ Floor,
            /*[261]*/ Floor,
            /*[262]*/ Wall,
            /*[263]*/ Floor,
            /*[264]*/ Floor,
            /*[265]*/ Floor,
            /*[266]*/ Floor,
            /*[267]*/ Floor,
            /*[268]*/ Floor,
            /*[269]*/ Floor,
            /*[270]*/ Floor,
            /*[271]*/ Floor,
            /*[272]*/ Floor,
            /*[273]*/ Floor,
            /*[274]*/ Wall,
            /*[275]*/ Wall,
            /*[276]*/ Floor,
            /*[277]*/ Floor,
            /*[278]*/ Floor,
            /*[279]*/ Floor,
            /*[280]*/ Floor,
            /*[281]*/ Floor,
            /*[282]*/ Floor,
            /*[283]*/ Floor,
            /*[284]*/ Floor,
            /*[285]*/ Floor,
            /*[286]*/ Floor,
            /*[287]*/ Floor,
            /*[288]*/ Floor,
            /*[289]*/ Floor,
            /*[290]*/ Floor,
            /*[291]*/ Floor,
            /*[292]*/ Floor,
            /*[293]*/ Floor,
            /*[294]*/ Floor,
            /*[295]*/ Floor,
            /*[296]*/ Floor,
            /*[297]*/ Floor,
            /*[298]*/ Floor,
            /*[299]*/ Wall,
            /*[300]*/ Wall,
            /*[301]*/ Floor,
            /*[302]*/ Floor,
            /*[303]*/ Floor,
            /*[304]*/ Floor,
            /*[305]*/ Floor,
            /*[306]*/ Floor,
            /*[307]*/ Floor,
            /*[308]*/ Floor,
            /*[309]*/ Floor,
            /*[310]*/ Floor,
            /*[311]*/ Floor,
            /*[312]*/ Floor,
            /*[313]*/ Floor,
            /*[314]*/ Floor,
            /*[315]*/ Floor,
            /*[316]*/ Floor,
            /*[317]*/ Floor,
            /*[318]*/ Floor,
            /*[319]*/ Floor,
            /*[320]*/ Floor,
            /*[321]*/ Floor,
            /*[322]*/ Floor,
            /*[323]*/ Floor,
            /*[324]*/ Wall,
            /*[325]*/ Wall,
            /*[326]*/ Floor,
            /*[327]*/ Floor,
            /*[328]*/ Floor,
            /*[329]*/ Floor,
            /*[330]*/ Floor,
            /*[331]*/ Floor,
            /*[332]*/ Floor,
            /*[333]*/ Floor,
            /*[334]*/ Floor,
            /*[335]*/ Floor,
            /*[336]*/ Floor,
            /*[337]*/ Floor,
            /*[338]*/ Floor,
            /*[339]*/ Floor,
            /*[340]*/ Floor,
            /*[341]*/ Floor,
            /*[342]*/ Floor,
            /*[343]*/ Floor,
            /*[344]*/ Floor,
            /*[345]*/ Floor,
            /*[346]*/ Floor,
            /*[347]*/ Floor,
            /*[348]*/ Floor,
            /*[349]*/ Wall,
            /*[350]*/ Wall,
            /*[351]*/ Wall,
            /*[352]*/ Wall,
            /*[353]*/ Wall,
            /*[354]*/ Wall,
            /*[355]*/ Wall,
            /*[356]*/ Wall,
            /*[357]*/ Wall,
            /*[358]*/ Wall,
            /*[359]*/ Wall,
            /*[360]*/ Wall,
            /*[361]*/ Wall,
            /*[362]*/ Wall,
            /*[363]*/ Wall,
            /*[364]*/ Wall,
            /*[365]*/ Wall,
            /*[366]*/ Wall,
            /*[367]*/ Wall,
            /*[368]*/ Wall,
            /*[369]*/ Wall,
            /*[370]*/ Wall,
            /*[371]*/ Wall,
            /*[372]*/ Wall,
            /*[373]*/ Wall,
            /*[374]*/ Wall,
        ],
    ),
    props: [
        /*[0]*/ (
            tile_x: 3,
            tile_y: 3,
            kind: Crate,
            phase: 0.0,
        ),
        /*[1]*/ (
            tile_x: 7,
            tile_y: 5,
            kind: Pipe,
            phase: 0.6,
        ),
        /*[2]*/ (
            tile_x: 17,
            tile_y: 4,
            kind: Lamp,
            phase: 1.2,
        ),
        /*[3]*/ (
            tile_x: 19,
            tile_y: 11,
            kind: Crate,
            phase: 1.9,
        ),
        /*[4]*/ (
            tile_x: 9,
            tile_y: 12,
            kind: Lamp,
            phase: 2.8,
        ),
        /*[5]*/ (
            tile_x: 15,
            tile_y: 9,
            kind: Pipe,
            phase: 3.3,
        ),
    ],
    player_spawn: (
        2,
        2,
    ),
    npc_spawn: (
        21,
        7,
    ),
)